<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Grocery List</h1>
    {% for grocery in groceries %}
    <div class="meal-container">
        <h2>{{ grocery.meal }}</h2>
        <div class="ingredient-block">
            <div class="ingredient-container"><span class="ingredient">{{ grocery.ingredient }}</span></div>
            <div class="checkbox-container">
                <input type="checkbox" id="checkbox-ingredient-{{ grocery.id }}" class="grocery-checkbox" onchange="saveCheckboxState(this.id)">
                <label for="checkbox-ingredient-{{ grocery.id }}"></label>
            </div>
            <div class="amount-container"><span class="amount">{{ grocery.amount }}</span></div>
        </div>
        {% if grocery.ingredient2 %}
        <div class="ingredient-block">
            <div class="ingredient-container"><span class="ingredient">{{ grocery.ingredient2 }}</span></div>
            <div class="checkbox-container">
                <input type="checkbox" id="checkbox-ingredient2-{{ grocery.id }}" class="grocery-checkbox" onchange="saveCheckboxState(this.id)">
                <label for="checkbox-ingredient2-{{ grocery.id }}"></label>
            </div>
            <div class="amount-container"><span class="amount">{{ grocery.amount2 }}</span></div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <script src="{{ url_for('static', filename='check.js') }}"></script>
</body>
</html>
